.purchase-history-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;

}

.purchase-history-text {
    font-size: 25px;
    font-weight: bolder;
}

.purchase-h-buy-container {
    margin-top: 5px;
    width: 100%;
    box-shadow: 0 0 5px gray;
    padding: 5px;
    border-radius: 5px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    max-height: 450px;
    overflow-y: auto;
}

.purchase-h-table {
    width: 100%;
    font-size: 11px;
    color: black;
    text-align: center;
}